@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

*{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body{
    height: auto;
    background-color: #212121;
}
 

.greet{
    margin: 10%;
    color: white;

}

nav{
    display: flex;
    //background-color: red;
    padding: 5%;
    //width: 75%;
    justify-content: space-between;

}

.tile{ 
  margin: 10%;
  
    article{
      
        img{
            border-radius: 5%;
            margin-left: 5%;
        }
    }
}

.card{
    margin: 10%;

    span{
        
        margin: 8%;
    }

    .is-48x48{
        border-radius: 50%;
    }

    
}

.intro{
    text-decoration: none;
    color: black;
}