@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

*{
    margin: 0;
    padding: 0;
    height: auto;
    overflow-y: hidden;
   // background-color: #212121;
    
}


.navbar{
    background-color: #212121;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    .navbar-item{
        color: white;
    }
    .burger{
        color: white;
    }
    .navbar-menu{
        letter-spacing: 0.15em;
        background-color: #212121;
        width: 100%;

        
    }
    .z{
        strong{
            background-color: #2793da;
        }
    }
}.logo{
    position: absolute;
    top: 50%;
    background-color: none;
    width: 75%;
    left: 15%;
    filter: drop-shadow(10px 10px 10px black);
}

.stream{
   margin-top: 5%;
    .title{
       color: #fff;
       display: flex;
       justify-content: center;
    }
    .icons{
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    }
}

.cover{
    margin-top: 10%;
    margin-bottom: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    p{
        color: white;
    }
   img{
       width: 256px;
       border-radius: 5%;
       height: 256px;
      
   }
   .hello{
       align-self: flex-end;
       margin: 5%;
   }
}